.minispot-controls {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;

  .minispot-control {
    align-items: center;
    border: 1px solid $gray-dark;
    color: $font-color;
    cursor: pointer;
    display: flex;
    height: $control-size;
    justify-content: center;
    outline: none;
    width: $control-size;

    &, &.active:active {
      background-color: $black;
      border-color: $gray-dark;
    }

    &:active, &.active {
      background-color: $gray-dark;
      border-color: $black;
    }
  }
}
