$padding-xs: 8px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 24px;

$black: #000;
$gray-dark: rgb(32, 32, 32);
$gray-darker: rgb(16, 16, 16);
$white-dark: rgb(204, 204, 204);
$link-color: rgb(255, 69, 0);

$font-color: $white-dark;

$z-index-base: 0;
$z-index-low: 1;
$z-index-mid: 2;
$z-index-high: 3;
