@import '../node_modules/normalize-scss/sass/normalize/import-now';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background-color: $gray-dark;
  color: $font-color;
  padding: $padding-lg;
}

a {
  color: $link-color;
  font-weight: bold;
}

.debug-divider {
  margin: $padding-lg 0;
}

.App-header {
  align-items: center;
  display: flex;
  .authentication-container {
    margin-left: auto;
  }
}

@import 'player/Player';
@import 'player/ControlPanel';
