@import '../node_modules/normalize-scss/sass/normalize/import-now';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background-color: $gray-dark;
  color: $white-dark;
  padding: $padding-lg;
}

a {
  color: $link-color;
  font-weight: bold;
}

@import 'player/Player';
@import 'player/ControlPanel';
